
.dv1 {
    float: right;
    word-spacing: 15px;
}


body {
    background-color: rgb(208, 240, 236);
}
.div2 {
    background-image: url(./Images/WhatsApp\ Image\ 2025-05-12\ at\ 18.36.33_8bffa74e.jpg);
    height: 400px;
    width: 1500px;

}
.div22{
    background-color: beige;
    top: 100px;
    height: 40px;
    width: 600px;
    padding: 40;
    left: 14px;
    right: 20px;
}
#sign {
    background-color: rgb(9, 9, 128);
    height: 1000px;
    width: 500px;
}