
#all {
    float: right;
    word-spacing: 15px;

}
.img1 {
    height: 500px;
    width: 100%;
}
#shift {
    position: relative;
    bottom: 290px;
    color: white;
    left: 200px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.but {
    background-color: black;
    position: relative;
    float: right;
}
.div1 {
    border: 1px;
    background-color: black;
    position: relative;
    width: 86%;

}
#div2 {
    background-color: brown;
}
